.colorSwitch {
  width: 40px;
  position: fixed;
  right: 1.4rem;
  top: 0.6rem;
}

.viewPortContainer {
  width: 600px;
  height: 300px;
  /* border: 1px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 60%);
}

.dpr {
  margin-top: 1.2rem;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .viewPortContainer {
    transform: translate(-50%, 90%);
  }
}

@media screen and (min-width: 320px) and (max-width: 524px) {
  .viewPortContainer {
    width: calc(100vw - 10vw);
  }
}

@media screen and (min-width: 1000px) {
  .viewportText {
    font-size: 42px;
  }

  .widthHeight {
    font-size: 76px;
  }

  .dpr {
    font-size: 31px;
  }
}
